* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}
.fly-in-text{
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.fly-in-text li{
    color: rgb(255, 255, 255);
    font-size: 50px;
    display: inline-block;
    font-family: Open Sans, Arial;
    font-weight: 300;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child{
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.hidden li:nth-child(1){
    transform: translate(-250px,-250px);}
.fly-in-text.hidden li:nth-child(2){
    transform: translate(0px,-200px);}
.fly-in-text.hidden li:nth-child(3){
    transform: translate(50px,-100px);}
.fly-in-text.hidden li:nth-child(4){
    transform: translate(75px,-150px);}
.fly-in-text.hidden li:nth-child(5){
    transform: translate(200px,250px);}
.fly-in-text.hidden li:nth-child(6){
    transform: translate(250px,50px);}

    @media only screen and (max-width: 485px) {
        .fly-in-text li{
            font-size: 30px;
        }
    }
    @media only screen and (max-width: 321px) {
        .fly-in-text li{
            font-size: 25px;
        }
    }
    @media only screen and (max-width: 270px) {
        .fly-in-text li{
            font-size: 20px;
        }
    }
    @media only screen and (max-width: 217px) {
        .fly-in-text li{
            font-size: 14px;
        }
    }
    @media only screen and (max-width: 172px) {
        .fly-in-text li{
            font-size: 12px;
        }
    }
    @media only screen and (max-width: 158px) {
        .fly-in-text li{
            font-size: 10px;
        }    
    }
    @media only screen and (max-width: 158px) {
        .fly-in-text li{
            font-size: 9px;
        }
    }